
body {
    font-family: monospace;
    font-size: 16px;
    line-height: 2;
    background-color:#F5F5F5;
    margin:0px 0px 0px 0px; 
}
.box>p>textarea{
background-color:#ddd;
width:100%;
border:none;
font-size:16px;
outline:none;
resize:none;
overflow:hidden;
}
.box>p>input,.box>p>input:focus{
background-color:#ddd;
border:none;
width:100%;
font-size:16px;
outline:none;
margin-left:auto;
margin-right:auto;
}

#appBody{
text-align: left;
}
button{
cursor:pointer;
}
.center-div{
text-align: center;
}

#about{
    margin: 10% 10% 10% 0;
}


.messageBody,.contacts,#sendMessage{
margin : 1% 10% 0% 10%;
font-size:110%;
}
.img-span
{
height:44px;
width:44px;
border-radius:100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
text-align:center;
}
.action-item{
cursor:pointer;
color:#08c;
}

#search,#search input:focus{
background-color:#F5F5F5;
width:100%;
text-align:center;
border:none;
font-size:16px;
outline:none;
margin-left:auto;
margin-right:auto;
}


.messageBox{
background-color:#ddd;
width:100%;
border:none;
font-size:16px;
outline:none;
}

.menu{
color:#08c;
font-weight: bold;
background-color:#FEFEFE;
}
.menu span{
cursor:pointer;
font-size: 150%;
padding:0px 2% 0px 2%; 

}
#messageDiv{
font-size:12px;
}
.underline-spans{
text-decoration: underline;
cursor: pointer;
}

.top-div-10{
margin-top: 10%;
}


a{
color: #08c;
}